
    <!-- footer  -->
    <footer>
        <div class="foot1">
            <ul>
                <h3>Get to Know Us</h3>
                <li>About Us</li>
                <li>Careers</li>
                <li>Press Releases</li>
                <li>Amazon Science</li>
            </ul>
       
            <ul>
                <h3>Connect with Us</h3>
                <li>Facebook</li>
                <li>Twitter</li>
                <li>Instagram</li>
            </ul>
        </div>
        <div class="cont">
            <div class="for">
                <input type="text" placeholder="contact Me"><button>contact</button>
            </div>
            <br>
            <hr>
            <br>
            <p>&copy; 1996-2023, InvtProduct.com, Inc.</p>
        </div>
    </footer>

</body>
</html>